<form autocomplete="off" data-id="{{_id}}" data-type="{{type}}">
  {{> "nih.advancement-controls"}}

  <ul class="ability-scores">
    {{> "nih.advancement-ability-score-control" points canAdjust=true}}
    <li class="hint">
      {{localize "NIH.AdvancementAbilityScoreImprovementPointsHint"}}
    </li>
    {{#each abilities}}
      {{> "nih.advancement-ability-score-control" this canAdjust=true}}
    {{/each}}
  </ul>
</form>
