<form autocomplete="off">
    {{> "nih.advancement-controls"}}
    <div class="form-group">
        <label>{{localize "NIH.HitDie"}}</label>
        <span class="form-field-readonly">{{hitDie}}</span>
    </div>
</form>
